@import '../../utility/theme';

.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    height: 100vh;

    .card {
        background-color: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        box-shadow: -1px 5px 20px -10px rgba(0,0,0,0.5);

        img {
            width: 50%;
            border-radius: 10px;
        }

        .LoginForm {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            width: 100%;
            
            h3 {
                font-size: 20px;
                font-weight: 700;
            }

            .LoginInput {
                margin-top: 10px;
    
                .input {
                    background-color: $backgroundColor;
                    border: none;
                    transition: all 300ms;
    
                    &:focus {
                        background-color: $white;
                    }
                }
            }

            p {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                margin: 10px 0;

                a {
                    color: $primaryColor;
                    font-weight: 700;
                }
            }
        }

        @media screen and (max-width: 900px) {
            img {
                display: none;
            }

            .LoginForm .LoginInput {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}